.DS_Store
.idea/
.ipynb_checkpoints/
bank/**/data
bank/**/substitutions
bank-private/
results/
templates/special
taskgen/__pycache__/
tmp/
build/
dist/
taskgen.egg-info/
*.log
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.pytxcode
*.depytx
*.synctex.gz
*.pytxcode
