.DS_Store
.idea/
.ipynb_checkpoints/
bin/
include/
lib/
build/
dist/
taskgen.egg-info/
taskgen/__pycache__/
*.log
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.pytxcode
*.depytx
*.synctex.gz
*.pytxcode
pyvenv.cfg
dist_old/
